<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--VueJS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    

    <title>WhatsApp Button Maker</title>
</head>
<body>
    
    <header>
        <h1>Create your WhatsApp button</h1>
    </header>

    <div id="app" class="container">


        <div class="mb-3 mt-3">
            <label for="countries">Set the country of your whatsapp</label>
            <select class="form-select" aria-label="Default select example" name="countries" v-model="countrySelected">
                <option v-bind:value="country.value" v-for="country in countries">{{country.text}}</option>
            </select>
        </div>

        <div class="mb-3 mt-3">
            <label for="phoneNumber">Write your whatsapp phoneNumber (without country country code)</label>
            <input type="tel" class="form-control" v-model="phoneNumber" name="phoneNumber">
        </div>


        <div class="mb-3">
            <label for="message" class="form-label">Write your message</label>
            <textarea class="form-control" rows="3" v-model="message" name="message" @change="changeMessage($event)"></textarea>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-6">
                    <label for="exampleColorInput" class="form-label">Set color</label>
                    <input type="color" class="form-control form-control-color" value="#563d7c" title="Choose your color" name="color" id="inputColor" v-model="color">
                </div>
                <div class="col-6">
                    <label for="">Set position of button</label>
                    <div class="btn-group">
                        <button class="btn btn-dark buttonPosition active"  @click="setPosition($event , 'left')">Left</button>
                        <button class="btn btn-dark buttonPosition"  @click="setPosition($event , 'right')">Right</button>
                      </div>
                </div>
            </div>
        </div>



        <div class="mb-3">
            <label>Copy this code into the head tag of your html code</label>
            <!--------------------------------------------------------------------------------------------->
            <!--Style tag-->
            <div class="codebox">
                <div class="fakeButtonsCloseBox">
                    <div class="fakeButton red"></div>
                    <div class="fakeButton yellow"></div>
                    <div class="fakeButton green"></div>

                    <button type="button" @click="copyToClipBoard($event , 'styleTag')" class="copyButton">Copy</button>
                </div>

                <span>
                    <code id="styleTag">

                        <code class="codeKeyWordTag">&lt;link</code> <code class="codeKeyWordClass">rel</code>=<code class="codeString">"stylesheet"</code> <code class="codeKeyWordClass">href</code>=<code class="codeString">"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"</code> <code class="codeKeyWordTag">&gt;</code> <br>
        
                        <code class="codeKeyWordTag">&lt;style&gt;</code> <br>
                        .whatsapplink{<br>
                        position:fixed;width:60px;height:60px;<br>
                        bottom:40px;{{position}}:40px;background-color:{{color}};color:#FFF;border-radius:50px;text-align:center;font-size:40px;box-shadow:2px 2px 3px #999;z-index:100}.whatsapplink .bi{position: absolute;{{position}}:10px;top:7px;}.whatsapplink:hover{text-decoration:none;color:#25d366;background-color:#fff}.whatsapp-box{margin-top:16px}<br>
                        <code class="codeKeyWordTag">&lt;/style&gt;</code>
                    </code>
                </span>
                <br>
            </div>
            <!--------------------------------------------------------------------------------------------->
        </div>



        <div class="mb-3">
            <label>Copy this code anywhere part of your code html</label>
            <div class="codebox">
                <div class="fakeButtonsCloseBox">
                    <div class="fakeButton red"></div>
                    <div class="fakeButton yellow"></div>
                    <div class="fakeButton green"></div>

                    <button type="button" class="copyButton" @click="copyToClipBoard($event , 'buttonTag')">Copy</button>
                </div>
                <span>
                    <code id="buttonTag">

                        &lt;<code class="codeKeyWordTag">div</code> <code class="codeKeyWordClass">class</code>=<code class="codeString">"whatsapp-box"</code>&gt;
                        &lt;<code class="codeKeyWordTag">a</code> <code class="codeKeyWordClass">href</code>=<code class="codeString">"https://api.whatsapp.com/send?phone={{countrySelected}}{{phoneNumber}}&text={{messageConverted}}"</code> <code class="codeKeyWordClass">class</code>=<code class="codeString">"whatsapplink"</code> <code class="codeKeyWordClass">target</code>=<code class="codeString">"_blank"</code> &gt;
                        
                        <code class="codeKeyWordTag">&lt;i</code> <code class="codeKeyWordClass">class</code>=<code class="codeString">"bi bi-whatsapp"</code> <code class="codeKeyWordTag">&gt;&lt;/i&gt;</code>
        
                        &lt;/<code class="codeKeyWordTag">a</code>&gt;
                        <code class="codeKeyWordTag">&lt;/div&gt;</code>
        
                    </code>
                </span>
            </div>
        </div>
        
        


    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>



    <script src="src/modules/allCountries.js"></script>
    <script src="src/app.js"></script>    

</body>
</html>