
body{
    padding: 0px;
    margin: 0px;
    background: url('./background-2.png');
    background-size: 441px 800px;
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
}

header{
    width: 100%;
    margin: 0px;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 6px #00000069;
}

    header h1{
        margin: 0px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 10px;
        color: #1ca266;
    }

#app{
}

    #app label{
        color: #1ca266;
        font-size: 20px;
        display: block;
    }

    #app .form-select , #app .form-control{
        background: #202c33;
        color: white;
        border: none;
        border-radius: 15px;
    }

    #app .form-control-color{
        width: 6rem;
        margin-top: -10px;
    }



.codebox{
    width: 100%;
    border-radius: 10px;
    background: #202c33;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;  
    padding-bottom: 5px; 
    font-size: 13px;
    position: relative;
    color: white;
}
    code{
        color: white;
    }
    
    .codeKeyWordTag{
        color: #569cd6;
    }
    .codeKeyWordClass{
        color: #9ccdc4;
    }
    .codeString{
        color: #ce915b;
    }
    
    .fakeButtonsCloseBox{
        height: 30px;
    }
    
    .fakeButton{
        width: 13px;
        height: 13px;
        border-radius: 50px;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
    }
    .red{
        background: red;
    }
    .green{
        background: #00CC33;
    }
    .yellow{
        background: yellow;
    }
    
    .copyButton{
        background: white;
        border: none;
        height: 20px;
        border-radius: 5px;
        margin-top: 5px;
        position: absolute;
        right: 10px;
    }